
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  background-color: black;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {

  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.timeline::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -5px;
  background: gray;
  color: #FA9F5A;
  width: 3px;
  left: 50%;

}
.timelinecontainer{
  padding: 10px 40px;
  position: relative;

  width: 50%;


}
.timelinecontainer:after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: gray;
  top: 15px;
  right: -15px;
  border-radius: 50%;
  border: 4px solid #FF9F55;
}


.right{
  left: 50%;
}

.left{
  left:0;
}

.right:after{
  left: -15px;
}

.left::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 22px;
  right: 30px;
  border: 10px solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #AAA;
}

.right::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 22px;
  left: 30px;
  border: 10px solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #AAA transparent transparent;
}

.content {
  padding: 20px 30px;
  /*background: #AAA;*/
  border-radius: 6px;
  border: #AAAAAA 1px solid;

}

/* Mobile version */
@media screen and (max-width: 768px) {
  .timeline::before {
    left: 31px;
  }

  .timelinecontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timelinecontainer::before {
    left: 60px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #AAA transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
    z-index: 1;
  }

  .right {
    left: 0;
  }
}