{% extends 'race/base_generic.html' %}

{% block page_title %}
    Your runners profile
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div>
            <div class="row">
                <div class="col-sm-8 well">
                    <img src="https://www.freeiconspng.com/uploads/face-head-woman-female-icon-15.png" alt="fake person" width="50" height="50"/>
                    {{ profile }}
                    <a href="{% url 'edit-profile'  pk=request.user.id%}"> Edit </a>
                </div>
                <div class="col-sm-4 well">

                    {% if profile.next_race %}
                            <p> Next race is {{ profile.next_race.race_id }}, days
                                until {{ profile.next_race.race_id.days_until }}
                                <a href="{% url 'detail' profile.next_race.race_id.id %}"> More</a></p>
                                neka fora sa cards, slikica i jos nesto
                        {% else %}
                            <p> No more running :o. Maybe go to <a href="{% url 'explorer' %}"> explore</a> page and
                                find next race? </p>
                        {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 well">

                Snap stats
                <ul class="list-group">
                    <li class="list-group-item">Races <span class="badge">{{ profile.get_stats.races }}</span></li>
                    <li class="list-group-item">Kilometers <span class="badge">{{ profile.get_stats.km }}</span></li>
                    <li class="list-group-item">Favorite type <span class="badge">{{ profile.get_stats.favourite }}</span></li>

                </ul>
            </div>
            <div class="col-sm-4 well">
                Personal records
                {% for race_type,race_info in profile.my_records.items %}
                    <li class="list-group-item">{{ race_type }} <span class="badge"> {% if race_info.time %} {{ race_info.time }} {% else %} None {% endif %}</span></li>

                {% endfor %}

            </div>

            <div class="col-sm-4 well">
                Trophies
                {% for my_trophy in profile.my_trophies %}
                    <li class="list-group-item"> {{ my_trophy.trophy.name }} | {{ my_trophy.race_earned.name}} ({{my_trophy.race_earned.date }})</li>
                {% endfor %}


        </div>
        <div class="row">
            <div class="col-sm-6 well">
                Past races
                <ul class="list-group">
                    {% for race in profile.past_races %}
                            <a href="{% url 'detail' race.race_id.id %}" class="list-group-item"> {{ race.race_id }}</a>

                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 well">
                Future races
                <ul class="list-group">
                    {% for race in profile.future_races %}
                        <a href="{% url 'detail' race.race_id.id %}" class="list-group-item"> {{ race.race_id }}</a>

                    {% endfor %}
                </ul>

            </div>


        </div>
    </div>

    </div>

{% endblock %}

