{% extends 'race/base_generic.html' %}
{#{% load static %}#}


<head>

    <title>Timeline of your races</title>


</head>

{% block content %}

    <div class="timeline">

        {% for object in timeline_objects %}
            {% if object.classname == 'UserTrophy'%}
                <div class="timelinecontainer left">
                    <div class="container-fluid">
                        <div class="content">
                            <h2>{{ object.date_earned }}</h2>
                            <p>trofej >> {{ object.race_earned }} {{ object.trophy }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="timelinecontainer right">
                    <div class="content">

                        <h2>{{ object.race_id.date.date }}</h2>
                        <p>{{ object.race_id }} </p>
                    </div>
                </div>

            {% endif %}


        {% endfor %}


    </div>
{% endblock %}
